{% extends "skeleton/crud/views/index.html.twig.twig" %}

{% block extends %}
{{ "{% extends  'WalvaCrudAdminBundle:Crud:show.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block crud_table_body -%}" }}

        {%- for field, metadata in fields %}

            <tr>
                <th>{{ field|capitalize }}</th>

            {%- if metadata.type in ['date', 'datetime'] %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>

            {%- else %}

                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            </tr>

        {%- endfor %}

{{ "{% endblock %}" }}
{% endblock body %}
